{% extends "base.html.twig" %}


{% block title %}
Erreur 403
{% endblock %}

{% block body %}
<div class="maincontent">
    <section>
        <h1>Erreur 403 - Accès refusé</h1>
        <p class="textCenter">Vous ne pouvez pas accéder à cette page.</p>
        <p class="buttonRed"><a href="/blogphp/">Retourner à l'accueil</a></p>
    </section>
</div>
{% endblock %}