<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/blogphp/public/css/normalize.css">
        <link rel="stylesheet" href="/blogphp/public/css/styles.css">
        <title>
        
        {% block title %}
        {% endblock %}

        </title>

        {% block css %}
        {% endblock %}

    </head>
    <body>
        <header>  
            {% if session.pseudo %}
                {% if session.admin %}
                    {% include 'navAdmin.html.twig' %}
                {% else %}
                    {% include 'navUserConnected.html.twig' %}
                {% endif %}
            {% else %}
                {% include 'navVisitor.html.twig' %}
            {% endif %}
        </header>

        {% if session.success %}

            <div class="flashMessage success" id="flashMessage">
                <img src="/blogphp/public/img/cross.png" alt="fermer" class="closeFlash" id="close">
                <p>{{ session.success }}</p>
            </div>

        {% endif %}

        {% if session.fail %}

            <div class="flashMessage fail" id="flashMessage">
                <img src="/blogphp/public/img/cross.png" alt="fermer" class="closeFlash" id="close">
                <p>{{ session.fail }}</p>
            </div>

        {% endif %}

        {% block body %}
        {% endblock %}

        {% if session.pseudo %}
            <footer>
                {% if session.admin %}
                    {% include 'navAdmin.html.twig' %}
                    <div class="button">
                        <p><a href="/blogphp/admin-posts">Partie Admin</a></p>
                    </div>
                {% else %}
                    {% include 'navUserConnected.html.twig' %}
                {% endif %}
                <p><a href="/blogphp/mentions-legales">Mentions légales</a></p>
            </footer>

        {% else %}
            <footer>
                {% include 'navVisitor.html.twig' %}
                <p><a href="/blogphp/mentions-legales">Mentions légales</a></p>
            </footer>
        {% endif %}


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/blogphp/public/js/jquery.js"></script>
        {% block js %}
        {% endblock %}

    </body>
</html>