<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <title>
        
        {% block title %}
        {% endblock %}

        </title>

        {% block css %}
        {% endblock %}

    </head>
    <body>

        {% if success %}

        <div class="flashMessage success" id="flashMessage">
            {{ success }}
        </div>

        {% endif %}

        {% if fail %}

        <div class="flashMessage fail" id="flashMessage">
            {{ fail }}
        </div>

        {% endif %}
    
        
        {% if session.pseudo %}
        <header>
            {% include 'navUserConnected.html.twig' %}
        </header>

        {% else %}
        <header>
            {% include 'navVisitor.html.twig' %}
        </header>
        {% endif %}

        {% block body %}
        {% endblock %}

        {% if session.pseudo %}
        <footer>
            {% include 'navUserConnected.html.twig' %}
        
            {% if idUser %}

                <div class="button">
                    <p><a href="/blogphp/admin-posts">Partie Admin</a></p>
                </div>

            {% endif %}
            
        </footer>

        {% else %}
        <footer>
            {% include 'navVisitor.html.twig' %}
        </footer>
        {% endif %}

        {% block js %}
        {% endblock %}

    </body>
</html>