<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <title>
        
        {% block title %}
        {% endblock %}

        </title>

        {% block css %}
        {% endblock %}

    </head>
    <body>

        {% if success %}

        <div class="flashMessage success" id="flashMessage">
            {{ success }}
        </div>

        {% endif %}

        {% if fail %}

        <div class="flashMessage fail" id="flashMessage">
            {{ fail }}
        </div>

        {% endif %}
    
        
        {% if session.pseudo %}
        <header>
            <nav>
                <ul>
                    <li><a href="/blogphp/">Accueil</a></li>
                    <li><a href="/blogphp/liste-posts">Liste des posts</a></li>
                    <li><a href="/blogphp/déconnexion">Se déconnecter</a></li>
                </ul>
            </nav>
        </header>

        {% else %}
        <nav>
            <ul>
                <li><a href="/blogphp/">Accueil</a></li>
                <li><a href="/blogphp/liste-posts">Liste des posts</a></li>
                <li><a href="/blogphp/inscription">S'inscrire</a></li>
                <li><a href="/blogphp/connexion">Se connecter</a></li>
            </ul>
        </nav>
        {% endif %}

        {% block body %}
        {% endblock %}

        {% if session.pseudo %}
        <footer>
            <nav>
                
                <ul>
                    <li><a href="/blogphp/">Accueil</a></li>
                    <li><a href="/blogphp/liste-posts">Liste des posts</a></li>
                    <li><a href="/blogphp/déconnexion">Se déconnecter</a></li>
                </ul>
        
                {% if idUser %}

                <div class="button">
                    <p><a href="/blogphp/admin-posts">Partie Admin</a></p>
                </div>

                {% endif %}
            </nav>
        </footer>

        {% else %}
        <footer>
            <nav>
                <ul>
                    <li><a href="/blogphp/">Accueil</a></li>
                    <li><a href="/blogphp/liste-posts">Liste des posts</a></li>
                    <li><a href="/blogphp/inscription">S'inscrire</a></li>
                    <li><a href="/blogphp/connexion">Se connecter</a></li>
                </ul>
            </nav>
        </footer>
        {% endif %}

        {% block js %}
        {% endblock %}

    </body>
</html>