<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <title>
        
        {% block title %}
        {% endblock %}

        </title>

        {% block css %}
        {% endblock %}

    </head>
    <body>

    

        <nav>
            <ul>
                <li><a href="/blogphp/accueil">Accueil</a></li>
            </ul>
        </nav>

        {% block body %}
        {% endblock %}

        <footer>
            <nav>
                <!--tous les liens ici-->
                <!--si le client est admin on affiche un bouton pour passer à la partie admin-->
                {% if admin %}

                <div class="button">
                    <p><a href="/blogphp/admin-posts">Partie Admin</a></p>
                </div>

                {% endif %}
            </nav>
        </footer>

        {% block js %}
        {% endblock %}

    </body>
</html>