{% extends "base.html.twig" %}

{% block metatitle %}
Changer son mot de passe | Blog de Floryss Rubechi
{% endblock %}

{% block metadescription %}
Vous avez perdu le mot de passe de votre compte sur le Blog de Floryss Rubechi ? Changez-le gratuitement sur cette page.
{% endblock %}

{% block title %}
Changer de mot de passe
{% endblock %}

{% block body %}
<div class="maincontent">
    <section class="divForForm">
        <h1>Changer de mot de passe</h1>
        <form action="reinitialisation-mot-de-passe" method="post">
            <p><label for="password">Nouveau mot de passe * </label><input type="password" id="password" name="password" required></p>
            <p><label for="validPassword">Réécrivez le nouveau mot de passe * </label><input type="password" id="validPassword" name="validPassword" required></p>
            <input type="hidden" name="uuid" value="{{ session.uuid }}">
            <input type="hidden" name="token" value="{{ session.token }}">
            <input type="submit" name="resetPassword" value="Changer le mot de passe" class="buttonRed">
        </form>
    </section>
</div>
{% endblock %}