{% extends "base.html.twig" %}

{% block title %}
Réinitialiser le mot de passe
{% endblock %}

{% block body %}

    <h1>Vous souhaitez réinitialiser votre mot de passe</h1>

    <form action="mot-de-passe-oublie" method="post">
        <p><label for="email">Email : </label><input type="mail" id="email" name="email" required></p>
        <input type="submit" name="emailResetPassword" value="Envoyer">
    </form>

{% endblock %}