{% extends "base.html.twig" %}

{% block metatitle %}
Réinitialiser le mot de passe | Blog de Floryss Rubechi
{% endblock %}

{% block metadescription %}
Vous avez oublié votre mot de passe ? ntrez votre adresse email pour recevoir un email de réinitialisation de mot de passe.
{% endblock %}

{% block title %}
Réinitialiser le mot de passe
{% endblock %}

{% block body %}
<div class="maincontent">
    <section class="divForForm">
        <h1>Réinitialiser votre mot de passe</h1>

        <form action="mot-de-passe-oublie" method="post">
            <p><label for="email">Votre email * </label><input type="mail" id="email" name="email" required></p>
            <input type="submit" name="emailResetPassword" value="Envoyer" class="buttonRed">
        </form>
    </section>
</div>
{% endblock %}