{% extends "base.html.twig" %}
{% block body %}

<div class="error">
	<h1>Une erreur s'est produite</h1>
	<div class="error-message">Message : {{ message }}</div>
	<div class="error-stack">Pile d'execution : {{ exe }}</div>
</div>

{% endblock %}