{% extends "base.html.twig" %}
{% block title %}
Une erreur est survenue
{% endblock %}

{% block body %}

<div class="error">
	<h1>Une erreur s'est produite</h1>
	<p>Message : {{ message }}</p>
</div>

{% endblock %}