{% extends "base.html.twig" %}

{% block metatitle %}
Une erreur est survenue | Blog de Floryss Rubechi
{% endblock %}

{% block metadescription %}
Une erreur est survenue.
{% endblock %}

{% block title %}
Une erreur est survenue
{% endblock %}

{% block body %}
<div class="maincontent">
    <section>
		<h1>Une erreur s'est produite</h1>
		<p>Message : {{ message }}</p>
	</section>
</div>

{% endblock %}