{% extends "base.html.twig" %}

{% block metatitle %}
Mentions légales | Blog de Floryss Rubechi
{% endblock %}

{% block metadescription %}

{% endblock %}

{% block title %}
Mentions légales
{% endblock %}

{% block body %}
<div class="maincontent">
    <section>
        <h1>Mentions légales du site "Blog de Floryss Rubechi"</h1>

        <p>Directrice de Publication : Floryss Rubechi</p>
        <p>Aucune copie, citation ou utilisation n'est acceptée.</p>
        <p>Toute donnée personnelle collectée (par l'envoi d'un message de contact, d'une inscription ou connexion ou d'un commentaire posté) ne sera cédée à un tiers ou revendue.</p>
        <p>Copyright 2021 - Tous droits réservés</p>
    </section>
</div>
    
{% endblock %}