<nav>
    <ul>
        <li><a href="/blogphp/">Accueil</a></li>
        <li><a href="/blogphp/liste-posts">Liste des posts</a></li>
        <li><a href="/blogphp/nouveau-post">Ajouter un nouveau post</a></li>
        <li><a href="/blogphp/admin-posts">Liste des posts publiés</a></li>
        <li><a href="/blogphp/admin-commentaires">Liste des commentaires</a></li>
        <li><a href="/blogphp/liste-utilisateurs">Liste des utilisateurs</a></li>
        <li><a href="/blogphp/liste-messages">Liste des messages reçus</a></li>
        <li><a href="/blogphp/dashboard">Mon dashboard</a></li>
        <li><a href="/blogphp/deconnexion">Se déconnecter</a></li>
    </ul>
</nav>