<nav>
    <ul>
        <li><a href="/blogphp/">Accueil</a></li>
        <li><a href="/blogphp/liste-posts">Liste des posts</a></li>
        <li><a href="/blogphp/nouveau-post">Nouveau post</a></li>
        <li><a href="/blogphp/admin-posts">Gérer les posts</a></li>
        <li><a href="/blogphp/admin-commentaires">Commentaires</a></li>
        <li><a href="/blogphp/liste-utilisateurs">Utilisateurs</a></li>
        <li><a href="/blogphp/liste-messages">Messages reçus</a></li>
        <li><a href="/blogphp/dashboard">Mon dashboard</a></li>
        <li><a href="/blogphp/deconnexion">Se déconnecter</a></li>
    </ul>
</nav>

<img src="/blogphp/public/img/menu.png" alt="menu déroulant" id="menu" class="forSmartphone forTablet">

<nav class="forSmartphone forTablet">
    <ul id="vertical">
        <li><a href="/blogphp/">Accueil</a></li>
        <li><a href="/blogphp/liste-posts">Liste des posts</a></li>
        <li><a href="/blogphp/nouveau-post">Nouveau post</a></li>
        <li><a href="/blogphp/admin-posts">Gérer les posts</a></li>
        <li><a href="/blogphp/admin-commentaires">Commentaires</a></li>
        <li><a href="/blogphp/liste-utilisateurs">Utilisateurs</a></li>
        <li><a href="/blogphp/liste-messages">Messages reçus</a></li>
        <li><a href="/blogphp/dashboard">Mon dashboard</a></li>
        <li><a href="/blogphp/deconnexion">Se déconnecter</a></li>
    </ul>
</nav>

