<nav>
    <ul>
        <li><a href="/blogphp/">Accueil</a></li>
        <li><a href="/blogphp/liste-posts">Liste des posts</a></li>
        <li><a href="/blogphp/nouveau-post">Ajouter un nouveau post</a></li>
        <li><a href="/blogphp/admin-posts">Liste de tous les posts publiés</a></li>
        <li><a href="/blogphp/admin-commentaires">Liste de tous les commentaires à valider</a></li>
        <li><a href="/blogphp/deconnexion">Se déconnecter</a></li>
    </ul>
</nav>