<nav>
    <ul>
        <li><a href="/blogphp/">Accueil</a></li>
        <li><a href="/blogphp/liste-posts">Liste des posts</a></li>
        <li><a href="/blogphp/déconnexion">Se déconnecter</a></li>
    </ul>
</nav>