<nav>
    <ul>
        <li><a href="/blogphp/">Accueil</a></li>
        <li><a href="/blogphp/liste-posts">Liste des posts</a></li>
        <li><a href="/blogphp/inscription">S'inscrire</a></li>
        <li><a href="/blogphp/connexion">Se connecter</a></li>
    </ul>
</nav>

<img src="/blogphp/public/img/menu.png" alt="menu déroulant" id="menu" class="forSmartphone">

<nav class="forSmartphone">
    <ul id="vertical">
        <li><a href="/blogphp/">Accueil</a></li>
        <li><a href="/blogphp/liste-posts">Liste des posts</a></li>
        <li><a href="/blogphp/inscription">S'inscrire</a></li>
        <li><a href="/blogphp/connexion">Se connecter</a></li>
    </ul>
</nav>