{% extends "base.html.twig" %}


{% block title %}
Se connecter
{% endblock %}

{% block body %}

    <h1>Connectez-vous</h1>

    <form action="traitement-connexion" method="post">
        <p><label for="pseudo">Pseudo * </label><input type="text" id="pseudo" name="pseudo" required></p>
        <p><label for="password">Mot de passe * </label><input type="password" id="password" name="password" required></p>
        <input type="submit" name="signUp" value="Se connecter">
    </form>

    <p><a href="mot-de-passe-oublie">J'ai oublié mon mot de passe</a></p>

{% endblock %}