{% extends "base.html.twig" %}

{% block title %}
Gestion des posts
{% endblock %}

{% block css %}
<link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
{% endblock %}



{% block body %}

<h1>Liste des commentaires à valider</h1>
<table id="myTable">
    <thead>
        <tr>
            <th>Pseudo</th>
            <th>Commentaire</th>
            <th>Date</th>
            <th>Valider</th>
        </tr>
    </thead>

    <tbody>
        {% for comment in commentsNotValidated %}
            <tr>
                <td>{{ comment.pseudo }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.date }}</td>
                <td><a href="valider-commentaire?idComment={{ comment.id }}" onclick="return confirm('Etes vous sûr de valider ce commentaire ?')">Valider</a></td>
            </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}



{% block js %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready( function () {
        $('#myTable').DataTable( {
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/French.json'
            }
        } );
    } );
</script>
{% endblock %}