<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <title>
        
        {% block title %}
        {% endblock %}

        </title>

        {% block css %}
        {% endblock %}

    </head>
    <body>

        {% if success %}

        <div class="flashMessage success" id="flashMessage">
            {{ success }}
        </div>

        {% endif %}

        {% if fail %}

        <div class="flashMessage fail" id="flashMessage">
            {{ fail }}
        </div>

        {% endif %}

        <nav>
            <ul>
                <li><a href="/blogphp/">Accueil</a></li>
                <li><a href="/blogphp/liste-posts">Liste des posts</a></li>
                <li><a href="/blogphp/nouveau-post">Ajouter un nouveau post</a></li>
                <li><a href="/blogphp/admin-posts">Liste de tous les posts publiés</a></li>
                <li><a href="/blogphp/admin-commentaires">Liste de tous les commentaires à valider</a></li>
                <li><a href="/blogphp/déconnexion">Se déconnecter</a></li>
            </ul>
        </nav>

        {% block body %}
        {% endblock %}

        <nav>
            <ul>
                <li><a href="/blogphp/">Accueil</a></li>
                <li><a href="/blogphp/liste-posts">Liste des posts</a></li>
                <li><a href="/blogphp/nouveau-post">Ajouter un nouveau post</a></li>
                <li><a href="/blogphp/admin-posts">Liste de tous les posts publiés</a></li>
                <li><a href="/blogphp/admin-commentaires">Liste de tous les commentaires à valider</a></li>
                <li><a href="/blogphp/déconnexion">Se déconnecter</a></li>
            </ul>
        </nav>

        {% block js %}
        {% endblock %}

    </body>
</html>