{% extends "base.html.twig" %}

{% block title %}
Nouveau Post
{% endblock %}



{% block body %}

<h1>Formulaire pour ajouter un nouveau Post</h1>
<form action="ajout-post" method="post">
    <label for="title">Titre</label><input type="text" name="title" id="title" required>
	<label for="heading">Chapô</label><textarea name="heading" id="heading" required></textarea>
    <label for="content">Contenu de l'article</label><textarea name="content" id="content" required></textarea>
    <label for="author">Auteur</label><input type="text" name="author" id="author" required>
    <input type="hidden" name="token" value="{{ session.token }}">
	<input type="submit" value="Ajouter le post" name="newPost">
</form>


{% endblock %}