{% extends "base.html.twig" %}

{% block title %}
Modifier un post
{% endblock %}




{% block body %}

<h1>Modifier ce post</h1>

<p>Voici le titre = {{ title }}</p>
<p>Voici le heading = {{ heading }}</p>
<p>Voici le content = {{ content }}</p>
<p>Voici l'auteur = {{ author }}</p>


{% endblock %}
